<% layout('layouts/boilerplate') %> 
<h1>Checkout</h1>

<a class="btn btn-primary btn-success" href="/cart">Back to cart</a>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">   
        <main class="px-3">
            <p class="lead"> Thank you for ordering at Danna's Kitchen! <br> We have received your order! <br></p>
        </main>
        <footer class="mt-auto text-white-50">
            <p>&copy; 2022 </p>
        </footer>
    </div>
</body>